<div class="list-group">
<% items.each_with_index do |item, index| %>
  <div class="list-group-item media">
    <%= render 'votes/vote_icon', votable: item %>
    <div class="header media-body">
      <a href="<%= url_h(item,nil,true) %>">
          <%= item.title %>
      </a>
    </div>
     <div class="col-md-1">
       <% if owns?(item) %>
           <div class="col-md-6">
             <%= button_to 'edit', url_h(item, nil, true)+"/edit", method: :get , class: "btn btn-sm button-index"%>
           </div>
           <div class="col-md-6">
             <%= button_to 'delete', url_h(item, nil, true), method: :delete , class: "btn btn-sm btn-danger button-index"%>
           </div>
       <% end %>
     </div>
    <div class="col-md-2 options pull-right">
      <% tuser = item.try(:user) %>
      <% if tuser %>
          Posted by <%= tuser.email %> at <%= item.created_at %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
