<h1>New Track for Album</h1>

<form action="<%= tracks_url %>" method="POST">
  <%= csrf_inject %>
  <label> Track Title
    <input type="text" name="track[title]" />
  </label><br>
  <label> Select Album
    <select name="track[album_id]">
      <% Album.all.each do |album| %>
          <option value="<%=album.id %>"
            <% if @album.id == album.id %> selected="selected" <% end %>
          ><%= album.title %></option>
      <% end %>
    </select>
  </label><br>
  <label> Select Track Type
    <select name="track[track_type]" id="">
      <% Track::TRACK_TYPES.each do |typez| %>
          <option value="<%= typez %>"><%= typez %></option>
      <% end %>
    </select>
  </label><br>

  <label> Lyrics
    <textarea name="track[lyrics]" rows="20" cols="50">Lyrics here</textarea>
  </label><br>

  <input type="submit" value="Submit" />
</form>